---
layout: default
title: Clearbit Guides
---

{% assign posts = site.data.posts.post %}
{% assign platforms = site.data.posts.platform %}
{% assign sorted_posts = posts | sort: 'created_at' | reverse %}

<div class="bg-maroon-gradient">
  <div class="mw7 pt4 pb4 center bg-left">
        <h3 class="f0 mt0 mb1 white"><a href="/" class="white link dim">Guides</a></h3>
        <h5 class="f5 white mt0 mb0">The best advice for building your sales automation.</h5>
      </div>
    </div>
  </div>
</div>

<div class="border-bottom">
  <div class="mw7 center">
  <ul class="js-sort-nav list-style-none filter-button-group flex flex-wrap pa0 mt0 mb0">
    <li data-filter="*">Everything</li>
    {% for p in platforms %}
    <li data-filter=".{{ p.sys.id }}">{{ p.title }}</li>
    {% endfor %}
  </ul>
</div>
</div>

<article class="mw7 center pt3 pt4-m pt4-l mt3-l">
  <div class="grid">
    {% for p in sorted_posts %}
    <div class="col-12 flex grid-item {{ p.platform.sys.id }}">
      <a class="black block text-decoration-none flex rounded p2 col-12" href="/posts/{{ p.title | slugify }}/">

        <div class="{% unless forloop.last %}border-bottom{% endunless %} pb4 mb4">
          <p class="gray avenir f6-5 mt0 mb1">
            {{ p.platform.title }}
          </p>
          <h1 class="f3 f2-m f1-l mb0 mt0 lh-title">
            {{ p.title }}
          </h1>
          <p class="lh-copy f5 pb2 near-black">
            {{ p.markdown | markdownify | strip_html | truncate: 270 }}
          </p>
          <p class="link blue dim ttu b f6">
            Read On
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="1em" width="1em" fill="currentcolor" class="ml2 muted-blue relative top-px-2" viewBox="0 0 30 30">
              <use xlink:href="#right_arrow"></use>
            </svg>
          </p>
        </div>

      </a>

    </div>
    {% endfor %}
  </div>
</article>
