---
title: Clearbit Guides Tracker
permalink: /tracker/
---

{% assign checked_copy = 'Implemented' %}
{% assign unchecked_copy = '&nbsp;' %}
{% assign posts = site.data.posts.post %}
{% assign sorted_posts = posts | sort: 'priority' | reverse %}
{% assign levels = 'Basic|Intermediate|Advanced' | split: '|' %}
{% assign products = 'Enrichment|Prospector|Reveal' | split: '|' %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
    {% assign current_url = site.url | append: page.url %}
    <meta name="robots" content="noindex,nofollow">

    <link href="/css/tachyons.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body class="bg-light-gray">
    {% include header.html %}

    <div id="tracker" class="mv3 mr3">
      <div class="flex">
        <div class="w-10"></div>

        {% for product in products %}
          <div class="w-30 black-60">
            <h2 class="f4 tc mb0">
              {{ product }}
            </h2>
          </div>
        {% endfor %}
      </div>

      {% for level in levels %}
        <div class="flex">
          <div class="w-10 level-heading black-60">
            <h2 class="f4 tc rotate-270 mb0">
              {{ level }}
            </h2>
          </div>

          {% for product in products %}
            {% if product == 'Enrichment' and level == 'Advanced' %}
              {% assign border_styling = '' %}
            {% elsif product == 'Enrichment' %}
              {% assign border_styling = 'bb' %}
            {% elsif level == 'Advanced' %}
              {% assign border_styling = 'bl' %}
            {% else %}
              {% assign border_styling = 'bb bl' %}
            {% endif %}

            <div class="w-30 pv4 ph2 {{ border_styling }} b--gray">
              <div class="block-container center flex flex-wrap align-center">
                {% for post in sorted_posts %}
                  {% if post.level == level and post.product == product %}
                    <div class="post-listing w-50-ns mv2 flex self-start">
                      <div class="post-inner shadow-2 center relative w-100 black-80 mh2 pv1 ph3 br3 bg-white">
                        <p class="pa0 f6 mb4 fw5">
                          <a
                            class="cb-blue link dim pointer"
                            href="/posts/{{ post.title | slugify }}/"
                            target="_blank"
                          >
                            {{ post.title }}
                          </a>
                        </p>

                        <div
                          id="container-{{ post.title | slugify }}"
                          class="absolute checkbox-container flex align-center justify-center w-100 br3 br--bottom"
                        >
                          <div
                            class="icon-container bg-gray pv2 ph3 tc align-center pointer"
                            id="icon-{{ post.title | slugify }}"
                            onclick="updateStatus('{{ post.title | slugify }}', true)"
                          >
                            <img class="v-mid" src="/images/icons/to-implement.png">
                          </div>

                          <input
                            class="dn post-checkbox w-20 pointer mt2 ml2"
                            id="{{ post.title | slugify }}"
                            type="checkbox"
                            onclick="updateStatus('{{ post.title | slugify }}')"
                          />

                          <label
                            class="label-checkbox w-100 pointer lh-copy f6 pv1 pl3"
                            id="label-{{ post.title | slugify }}"
                            for="{{ post.title | slugify }}"
                          >
                            {{ unchecked_copy }}
                          </label>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <div class="mt4 bg-dark-blue pv4">
      <small class="white db tc">
        &copy; Clearbit 2018
      </small>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript">
      var checkedBackground = 'bg-teal';

      function setInitialStatus() {
        var query = window.location.search.substring(1);
        var params = query.split('&');

        for (var i = 0; i < params.length; i++) {
          var pair = params[i].split('=');

          if (pair[1] === 'true') {
            updateStatus(pair[0], true);
          }
        }
      }

      function updateStatus(post, forceChange) {
        if (forceChange) {
          $('#' + post).prop('checked', !($('#' + post).prop('checked')));
        }

        // update clicked checkbox
        var labelText = '{{ unchecked_copy }}';
        var imageSrc = '/images/icons/to-implement.png';

        if ($('#' + post).prop('checked')) {
          labelText = '{{ checked_copy }}';
          imageSrc = '/images/icons/implemented.png'
        }

        $('#label-' + post).html(labelText);
        $('#icon-' + post).toggleClass(checkedBackground);
        $('#icon-' + post + ' img').attr('src', imageSrc);

        // update URL
        var checkboxes = $('input[type="checkbox"]:checked');
        var urlParams = [];

        for (var c = 0; c < checkboxes.length; c++) {
          urlParams.push(checkboxes[c].id + '=true');
        }

        var baseURL = [window.location.protocol, '//', window.location.host, window.location.pathname].join('');
        var queryString = urlParams.join('&');
        var finalURL = baseURL + '?' + queryString

        window.history.replaceState('', 'Guides Tracker', finalURL);
      }

      setInitialStatus();
    </script>
  </body>
</html>
