<footer class="bg-dark-blue">
  <div class="pa2 ph3-m ph4-l pv4-m pv5-l cf mw9 center">
    <div class="fl-m fl-l w-33-m w-20-l ph4">
      <h5 class="ls-1 white fw3 ttu f6">Solutions</h5>
      <a class="link dim fw6 db mb3 dt light-blue" href="/marketing">Marketing</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/sales">Sales</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/developers">Developers</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/enrichment/batch">Batch</a>
    </div>

    <div class="fl-m fl-l w-33-m w-20-l ph4">
      <h5 class="ls-1 white fw3 ttu f6">Products</h5>
      <a class="link dim fw6 db mb3 dt light-blue" href="/enrichment">Enrichment</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/prospector">Prospector</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/connect">Connect</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/reveal">Reveal</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/risk">
        Risk &nbsp;
        <span class="br2 ttu tiny-label dark-blue bg-light-blue">new</span>
      </a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/docs#logo-api">Logo API</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/docs#autocomplete-api">Autocomplete API</a>

    </div>

    <div class="fl-m fl-l w-33-m w-20-l ph4">
      <h5 class="ls-1 white fw3 ttu f6">Information</h5>
      <a class="link dim fw6 db mb3 dt light-blue" href="/pricing">Pricing</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/attributes">Data Attributes</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="http://help.clearbit.com">Support</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/docs">Documentation</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="http://salesmarketingstack.com/" target="_blank">Wiki</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="https://clearbit.statuspage.io">Status</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/alternatives/data-com-vs-clearbit">
        Data.com Comparison
      </a>
    </div>

    <div class="dn db-m fl w-100"></div>

    <div class="fl-m fl-l w-33-m w-20-l ph4">
      <h5 class="ls-1 white fw3 ttu f6">Company</h5><a class="link dim fw6 db mb3 dt light-blue" href="/about">About</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="http://blog.clearbit.com">Blog</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/jobs">
          Jobs &nbsp;
          <span class="br2 ttu tiny-label dark-blue bg-light-blue">Hiring</span>
      </a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/press">Press</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="https://twitter.com/clearbit">Twitter</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="https://www.facebook.com/clearbitinc">Facebook</a>
    </div>

    <div class="fl-m fl-l w-33-m w-20-l ph4">
      <h5 class="ls-1 white fw3 ttu f6">Legal</h5>
      <a class="link dim fw6 db mb3 dt light-blue" href="/claim">Claim</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/privacy">Privacy</a>
      <a class="link dim fw6 db mb3 dt light-blue" href="/terms">Terms</a>
    </div>

    <div class="ph4">
      <div class="fl w-100 bt b--white-10 pt3 mt3 mt4-m mt5-l">
        <div class="cf">
          <div class="pv2 pv0-m pv0-l fr-m fr-l tc mt1">
          </div>
          <div class="pv3 pv0-m pv0-l fl-m fl-l">
            <div class="dt center">
              <a href="#" title="Home" class="dtc link dim">
                <div class="dtc v-mid">
                  <span class="dib relative h1 w1">
                    <div class="tiny-logo-bit-l absolute w-50 h-100"></div>
                    <div class="tiny-logo-bit-t-r absolute w-50 h-50 right-0"></div>
                    <div class="tiny-logo-bit-b-r absolute w-50 h-50 right-0 bottom-0"></div>
                  </span>
                </div>
                <div class="fw6 dtc v-mid pl2 f6 pr1 light-blue">Clearbit</div>
              </a>
              <div class="fw6 white f7 pl1 dtc v-mid pt1">All Rights Reserved 2018</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
