<header class="fixed-header bg-white pa3 ph5-l bb b--light-gray w-100 top-0 left-0 right-0 z-9999">
  <div class="cf mw9 center">
    <nav class="fl w-20 f5 mb1 mb0-m mb0-l">
      <a title="Home" class="dt link dim" href="/">
        <div class="dtc v-bottom pt2">
          <span class="dib relative h2 w2">
            <div class="logo-bit-l absolute w-50 h-100"></div>
            <div class="logo-bit-t-r absolute w-50 h-50 right-0"></div>
            <div class="logo-bit-b-r absolute w-50 h-50 right-0 bottom-0"></div>
          </span>
        </div>
        <div class="dtc v-mid pl3 blue fw6 pt1">Clearbit</div>
      </a>
    </nav>

    <nav class="fl w-80 tr f6">

      <a class="js-nav-toggle header-link pr0 pr3-m pr3-l pa3-m pa3-l dib link dim pointer blue fw6" data-overlay="nav-overlay" title="Solutions">
        <span class="dn dib-m dib-l">
          Solutions <img src="https://clearbit.com/assets/site/v2/svg/nav-chevron-down.svg" class="js-nav-toggle-chevron icon-nav-chevron icon-nav-chevron-down">

        </span>

        <div class="dn-m dn-l mt2">
          <img src="https://clearbit.com/assets/site/v2/svg/nav-hamburger.svg" class="icon-nav-hamburger">

        </div>
      </a>

      <a class="header-link pa3 ml3-l dn dib-l link dim pointer blue fw6" href="/customers" title="Customers">Customers</a>
      <a class="header-link pa3 ml3-l dn dib-m dib-l link dim pointer blue fw6" href="/pricing" title="Pricing">Pricing</a>

      <a class="js-nav-toggle header-link pr0 pr3-m pr3-l pa3-m pa3-l ml3-l dib link dim pointer blue fw6" data-overlay="company-nav-overlay" title="Company">
        <span class="dn dib-m dib-l">
          Company <img src="https://clearbit.com/assets/site/v2/svg/nav-chevron-down.svg" class="js-nav-toggle-chevron icon-nav-chevron icon-nav-chevron-down">

        </span>
      </a>

      <a class="js-nav-toggle header-link pr0 pr3-m pr3-l pa3-m pa3-l ml3-l mr3-l dn dib-m dib-l link dim pointer blue fw6" data-overlay="resources-nav-overlay" title="Resources">
        Resources <img src="https://clearbit.com/assets/site/v2/svg/nav-chevron-down.svg" class="js-nav-toggle-chevron icon-nav-chevron icon-nav-chevron-down">

      </a>

        <a class="header-button header-link pa3 pv1 dn dib-m dib-l ml3 f6 no-underline ba br2 fw6" href="/login" title="Log in">Log In</a>
        <a class="header-button header-link pa3 pv1 dn dib-m dib-l ml3 f6 no-underline ba br2 fw6" href="/signup" title="Sign Up">Sign Up</a>
    </nav>
  </div>
</header>
