<header class="fixed-header bg-white pa3 ph5-l bb b--light-gray w-100 top-0 left-0 right-0 z-3">
  <div class="cf mw9 center">
    <nav class="fl w-50 f5 mb1 mb0-m mb0-l">
      <div class="dt">
        <div class="dtc v-bottom pt2">
          <a href="https://clearbit.com" class="dim">
            <span class="dib relative h2 w2">
              <div class="logo-bit-l absolute w-50 h-100"></div>
              <div class="logo-bit-t-r absolute w-50 h-50 right-0"></div>
              <div class="logo-bit-b-r absolute w-50 h-50 right-0 bottom-0"></div>
            </span>
          </a>
        </div>
        <div class="dtc v-mid pl3 blue fw6 pt1">
          <a href="https://clearbit.com" class="link dim blue">
            Clearbit
          </a>
        </div>
      </div>
    </nav>

    <nav class="fl w-50 tr f6">
      <a class="header-link pv3 dib ml3 f6 no-underline br2 fw6" href="/" title="See all guides">SEE ALL GUIDES</a>
    </nav>
  </div>
</header>
