---
layout: default
toc: true
---

{% if page.markdown %}
{% assign prose = page.markdown %}
{% else %}
{% assign prose = content %}
{% endif %}

{% assign posts = site.data.posts.post %}
{% assign sorted_posts = posts | sort: 'created_at' | reverse %}

{% for post in sorted_posts %}
  {% if post.title == page.title %}

    {% assign position = forloop.index %}

    {% if position == forloop.length %}
      {% for p in sorted_posts limit:1 offset:0 %}
        {% assign next_post = p %}
      {% endfor %}
    {% else %}
      {% for p in sorted_posts limit:1 offset:position %}
        {% assign next_post = p %}
      {% endfor %}
    {% endif %}

    {% if position == 1 %}
      {% assign last_offset = forloop.length | minus:1 %}
      {% for p in sorted_posts limit:1 offset:last_offset %}
        {% assign previous_url = p.title | slugify %}
      {% endfor %}
    {% else %}
      {% assign pos = position | minus:2 %}
      {% for p in sorted_posts limit:1 offset:pos %}
        {% assign previous_url = p.title | slugify %}
      {% endfor %}
    {% endif %}

  {% endif %}
{% endfor %}

<div class="mw7 center ph3 pt3 pt4-m pt4-l mt3-l">
  <div class="clearfix mxn2 flex">
    <header class="col-12 md-col-8 px2">
      <p class="gray avenir f6-5 mb0">
        {{ page.platform.title }}
      </p>
      <h1 class="f3 f2-m f1-l mt1 mb2">
        <a href="/posts/{{ page.title | slugify }}/" class="black text-decoration-none">
          {{ page.title }}
        </a>
      </h1>
    </header>
  </div>
  <nav class="mt2 mb2 js-toc">
    <h6 class="h6 semibold tracked mt0 mb2 o-60">TABLE OF CONTENTS</h6>
      {{ prose | markdownify | toc_only }}
  </nav>
  <section class="prose">
    {{ prose | markdownify }}
    <p>
    </p>
  </section>
</div>

{% if page.markdown %}
<aside>
    <article class="pa3 pt0 ph5-l tc">
  <div class="pv3 pv4-m pv4-l ph3 ph5-m ph5-l">
      <h6 class="b ttu f6 moon-gray ph3 pv2 dib bg-white mb3 br2">
        Read this next
      </h6>

    <h2 class="f3 f2-m f1-l mb0 mt2">
      <a href="/posts/{{ next_post.title | slugify }}" class="link dim near-black">
        {{ next_post.title }}
      </a>
    </h2>

    <section class="pb3">
      <p class="lh-copy f5 pb2 ph6-l">
            {{ next_post.markdown | markdownify | strip_html | truncate: 270 }}
      </p>

      <a class="link blue dim ttu b f6" href="/posts/{{ next_post.title | slugify }}">
        Read On
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="1em" width="1em" fill="currentcolor" class="ml2 muted-blue relative top-px-2" viewBox="0 0 30 30">
           <use xlink:href="#right_arrow"></use>
         </svg>
      </a>
    </section>

  </div>
</article>
</aside>
{% endif %}

