---
layout: default
toc: true
---

{% if page.markdown %}
{% assign prose = page.markdown %}
{% else %}
{% assign prose = content %}
{% endif %}

<div class="mx-auto lg-container px4 bg-white shadow rounded">
  <div class="clearfix mxn2 flex">
    <div class="col-12 md-col-8 px2">
      <header class="mt3">
          <p class="mb3 semibold" style="color: #1798c1">
            Salesforce
          </p>
        <h1 class="mt0 mb3">
          <a href="/posts/{{ page.title | slugify }}/" class="black">
            {{ page.title }}
          </a>
        </h1>
      </header>
      <section class="prose">
        {{ prose | markdownify }}
        <p>
        </p>
      </section>
    </div>
    <nav class="col-4 px2 sticky top-0">
      <div class="sticky top-0 py4">
        <p class="m0">
          <a href="/" class="back-button shadow shadow-hover text-decoration-none semibold h3 m0">
            X
          </a>
        </p>
        {{ prose | markdownify | toc_only }}
      </div>
    </nav>
  </div>
</div>

